wheel==0.38.4
ccxt==3.0.59
ta==0.10.2
requests==2.31.0
openai==0.27.8
langdetect==1.0.9
pytz==2023.3
matplotlib==3.7.2
mplfinance==0.12.9b7
xgboost==2.0.3
scikit-learn==1.3.0
numpy==1.26.0
pandas==2.0.3